<header class="header">
    <div class="container">
        <div class="header__inner">
            <figure class="header__logo">
                <img src="images/logos/logo.png" alt="img" class="header__img">
            </figure>
            <div class="header__container">
                <div class="header__box">
                <h3 class="header__user-name">
                    Arthur Wood
                </h3>
                <figure class="header__photo">
                    <img src="images/portfolio/user.png" alt="img" class="header__img">
                </figure>
                <figure class="header__btn">
                    <img src="images/pic/icon/arrow.png" alt="img" class="header__img">
                </figure>
            </div>
                <div class="header__box">
                    <figure class="header__alert">
                        <img src="images/pic/icon/alert.svg" alt="img" class="header__img">
                    </figure>
                    <figure class="header__present">
                        <img src="images/pic/icon/present.png" alt="img" class="header__img">
                    </figure>
                    <figure class="header__message">
                        <img src="images/pic/icon/message.png" alt="img" class="header__img">
                    </figure>
                </div>
            </div>
        </div>
        @@include('../templates/nav.html')
    </div>
</header>