<div class="inner">
    @@include('../templates/choice.html')
    <div class="public">
        <div class="public__inner">
            <div class="public__box public__box--head"></div>
            <div class="public__box">
                <h3 class="public__headline">
                    New air routes that promise cheap flights in
                </h3>
            </div>
            <div class="public__box public__box--bottom">
                <div class="public__container">
                    <div class="public__masc"></div>
                    <span class="public__name">
                        Gregory Watkins
                    </span>
                </div>
                <div class="public__container">
                    <span class="public__share">
                        Share
                    </span>
                </div>
            </div>
        </div>


        <div class="public__inner">
            <div class="public__box public__box--head">
            </div>
            <div class="public__box">
                <h3 class="public__headline">
                    New air routes that promise cheap flights in
                </h3>
            </div>
            <div class="public__box public__box--bottom">
                <div class="public__container">
                    <div class="public__masc"></div>
                    <span class="public__name">
                        Gregory Watkins
                    </span>
                </div>
                <div class="public__container">
                    <span class="public__share">
                        Share
                    </span>
                </div>
            </div>
        </div>

        <div class="public__inner">
            <div class="public__box public__box--head">
                <span class="public__shared">
                    Shared to
                </span>
                <div class="public__hashtag-box">
                    <span class="public__hashtag">
                        #discussionaboutanimgttdds…sdsdfsdfsdddddddddddddddddddddddd
                    </span>
                </div>
            </div>
            <div class="public__box">
                <h3 class="public__headline">
                    New air routes that promise cheap flights in
                </h3>
            </div>
            <div class="public__box public__box--bottom">
                <div class="public__container">
                    <div class="public__masc"></div>
                    <span class="public__name">
                        Gregory Watkins

                    </span>
                </div>
                <div class="public__container">
                    <figure class="public__figure">
                        <img src="images/pic/icon/wath.png" alt="img" class="public__img">
                    </figure>
                    <span class="public__match">
                        88
                    </span>
                    <figure class="public__figure">
                        <img src="images/pic/icon/heart.png" alt="img" class="public__img">
                    </figure>
                    <span class="public__match">
                        24
                    </span>
                </div>
            </div>
        </div>

        <div class="public__inner">
            <div class="public__box public__box--head">
                <figure class="public__link">
                    <img src="images/pic/icon/link.png" alt="img" class="public__img">
                </figure>
                <a class="public__shared public__shared--link">
                    Shared via weblink
                </a>
            </div>
            <div class="public__box">
                <h3 class="public__headline">
                    New air routes that promise cheap flights in
                </h3>
            </div>
            <div class="public__box public__box--bottom">
                <div class="public__container">
                    <div class="public__masc"></div>
                    <span class="public__name">
                        Gregory Watkins

                    </span>
                </div>
                <div class="public__container">
                    <figure class="public__figure">
                        <img src="images/pic/icon/wath.png" alt="img" class="public__img">
                    </figure>
                    <span class="public__match">
                        88
                    </span>
                    <figure class="public__figure">
                        <img src="images/pic/icon/heart.png" alt="img" class="public__img">
                    </figure>
                    <span class="public__match">
                        24
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>