<div class="report">
    <div class="report__inner">
        <figure class="report__figure">
            <img src="images/pic/icon/report.png" alt="img" class="report__img">
        </figure>
        <span class="report__content">
            Report User
        </span>
    </div>
    <div class="report__inner">
        <figure class="report__figure">
            <img src="images/pic/icon/block.png" alt="img" class="report__img">
        </figure>
        <span class="report__content">
            Block User
        </span>
    </div>
</div>