<section class="users">
    <div class="users__container">
        <div class="users__inner users__inner--head">
            <figure class="users__photo">
                <img src="images/portfolio/avatar.png" alt="img" class="users__img">
            </figure>
            <div class="users__box-profile">
                <div class="users__box">
                    <h3 class="users__name">
                        Benjamin
                        Clementine
                    </h3>
                    <p class="users__nick">
                        @benclementine
                    </p>
                </div>
                <div class="users__box users__box--edit">
                    <figure class="users__edit">
                        <img src="images/pic/icon/edit.png" alt="img" class="users__img">
                    </figure>
                    <a href="#" class="users__edit-link">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="users__inner-report">
            <div class="users__btn">
                <div class="users__point"></div>
                <div class="users__point"></div>
                <div class="users__point"></div>
            </div>
            @@include('../templates/report.html')
        </div>
    </div>
    <div class="users__inner users__inner--info">
        <div class="users__box users__box--number">
            <p class="users__number">
                45
            </p>
            <p class="users__item">
                synths
            </p>
        </div>
        <div class="users__box users__box--number">
            <p class="users__number">
                110
            </p>
            <p class="users__item">
                followers
            </p>
        </div>
        <div class="users__box users__box--number">
            <p class="users__number">
                322
            </p>
            <p class="users__item">
                following
            </p>
        </div>
    </div>
    <div class="users__inner">
        <p class="users__content">
            Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.
        </p>
    </div>
</section>